[2017-11-02 22:10] spacedino opened #741 "[Land and See - Home] Random green triangle on mobile"
**Current**
There is a tiny green triangle that scrolls over some of the content when users scrolls up. Right now on Mobile it looks like a "Scroll to top" icon.
![img_98551](https://user-images.githubusercontent.com/7339798/32352674-6e2952ba-bfdf-11e7-8919-27eb8c8c44c0.jpg)

**Should be**
I think we can just remove it. It's a cool accent but I think the bigger triangles that go behind are better.

[2017-11-02 22:13] spacedino opened #742 "[Land and See - Home] Hero carousel images should link to Article page"
**Current**
On Mobile or Desktop, if you click anywhere on the carousel image that is not the link or arrows, the page does nothing.

![image](https://user-images.githubusercontent.com/7339798/32352891-5fcf73d8-bfe0-11e7-929e-7ba850ccc2f1.png)

**Should be**
On Mobile or Desktop, if you click on the carousel images / text, you should go to the Article page.

[2017-11-02 22:16] spacedino opened #743 "[Land and See - Home] Popular tag is misaligned for anything smaller than < 814 px"
**Current**
Popular tag  is left aligned but the images in that section move and it looks off at different viewport sizes.

![image](https://user-images.githubusercontent.com/7339798/32352990-c98d0c90-bfe0-11e7-8680-0f9ff3e31a21.png)

**Should be**
Popular tag adjusts with content to left align with content (or something else that looks better).

[2017-11-02 22:18] spacedino opened #744 "[Land and See - Article Page] Article page summary looks too small"
**Current**
Article summary text looks disproportionally small.

![image](https://user-images.githubusercontent.com/7339798/32353052-043e74fa-bfe1-11e7-9549-1ef5d867fa8d.png)

**Should be**
Increase font size to 1.25 rem

[2017-11-02 22:23] spacedino opened #745 "[Land and See - Stories pages] "Read more" bar feels off"
**Current**
Just looks weird. I couldn't get it to consistently show up. This one is off because it doesnt line up with the subscribe box and even if it did it might not seem clickable. In another version I saw it was cutting the images off in a weird place.
![image](https://user-images.githubusercontent.com/7339798/32353098-2f6e6978-bfe1-11e7-9954-ef4a46989cbb.png)

**Should be**
Do we need this?

[2017-11-02 22:28] spacedino opened #746 "[Land and see - Stries] "Previous" and "next" buttons should take user to the top of the page to continue browsing"
**Current**
Its awkward when the user is taken to the same scroll position on the page if there is no new content. Its also just confusing about what happened.
![landandsee_prev_next](https://user-images.githubusercontent.com/7339798/32353369-62b5dcfc-bfe2-11e7-909a-1bbc3577d5e4.gif)

**Should be**
Take user to top of new content

[2017-11-02 22:29] spacedino opened #747 "[Land and See - Home] Transitions for open and close of sections is a little jarring"
![image](https://user-images.githubusercontent.com/7339798/32353410-9749458a-bfe2-11e7-9a2e-987eb2b981e7.png)

Can we do anything to fix the transition? @camelburrito

[2017-11-02 22:42] camelburrito commented on #747
We can use amp-selector instead of accordion and custom implement
animations .

Or

Fix amp-accordion to support animation

On Thu, Nov 2, 2017 at 3:29 PM spacedino <notifications@github.com> wrote:

--
-- Sriram

[2017-11-03 01:49] afilbert commented on #731
Thanks for the feedback, @spacedino. Will it suffice to link all story links back to the completed Kim Myeong story page?

[2017-11-03 02:57] afilbert commented on #728
The paging buttons on Stories page are using `amp-bind` with an `amp-list` to request different stories depending on the page. I'm not sure if there's an `amphtml` method for scrolling to page top, but it looks like it's been a requested feature: https://github.com/ampproject/amphtml/issues/7920

[2017-11-03 03:02] afilbert commented on #722
I can increase the opacity, as I made a development decision to try and achieve a semi-bold look where the web fonts failed to cooperate consistently. The sizing, however, closely follows the approved [mocks](https://github.com/ampproject/ampstart/tree/master/mocks/land-see).

[2017-11-03 03:30] afilbert commented on #735
Page load "active" indicator on default (All) stories is a known issue, and a compromise made during development. I've documented the behavior on the PR: https://github.com/ampproject/ampstart/pull/674

[2017-11-03 03:38] afilbert commented on #745
This was not part of the mocks, but is a consequence of `amp-list` requiring a defined height. It is a part of the `amp-list` component. The alternative was to make the list as large as it needed to be for up to the largest content page size on page load. This meant that the paging nav at the bottom of the list could possibly be many times the scroll distance from the bottom of the nearest content

[2017-11-03 03:42] afilbert commented on #739
This is a known issue on Safari, as documented on the PR: https://github.com/ampproject/ampstart/pull/615

[2017-11-03 03:46] afilbert commented on #746
As mentioned in #728, I'm not sure amphtml provides a function or component that can scroll to top with JavaScript. An alternative would be to try and use `href="#"` with an anchor. It depends on if that can be used in conjunction with `amp-bind`s `on` action.

[2017-11-03 03:52] afilbert commented on #726
Nice catch on `Crimson Text` being overridden. #698 may have introduced that.

[2017-11-03 03:55] afilbert commented on #726
The styles and verbiage of the subscription footer section do closely follow the approved [mocks](https://github.com/ampproject/ampstart/tree/master/mocks/land-see).

[2017-11-03 05:05] afilbert commented on #743
This does deviate from the approved design [mocks](https://github.com/ampproject/ampstart/tree/master/mocks/land-see), and was a compromise based on how the content came together. May need to manually set width of container to follow the list's breakpoints, as setting to `inline-block`, `table`, or `left` floating the parent container element to auto-resize with child contents seems to obscure the

[2017-11-03 15:51] ericlindley-g commented on #740
I like that! Is this possible with either goToSlide() if we put it into amp-carousel, or a modification we can make to scrollTo() if we don't?  (though since horizontal scrolling is broken inside the viewer until the layers work is released, I'm thinking we'd want to put it into amp-carousel regardless?)

WDYT, @camelburrito ?

[2017-11-03 15:57] ericlindley-g commented on #745
Got it — thanks for explaining, @afilbert

Two thoughts:

@spacedino , do you have more details on the treatment you're imagining here for the button? (in case we don't figure out another solution)

@camelburrito , is there a tweak we can make to this? In particular I'm noticing that on wide screens it truncates really early (not too far into the first viewport)

[2017-11-03 16:02] ericlindley-g commented on #736
I think this should be possible (though I remember some Safari scrolling issues that might be related), but I defer to @camelburrito

[2017-11-03 16:37] camelburrito commented on #745
This seems to be a limitation with amp-list on other templates too. We solved it by giving a height that is the tallest amongst all devices. We will need to fix this from the amp-list component , ideally by providing an auto resize option (with optional animations )

[2017-11-03 16:40] camelburrito commented on #740
I think just a scrollable carousel with hidden scroll bar and opaque arrows
should do the trick , but the ends would always be opaque

On Fri, Nov 3, 2017 at 8:51 AM ericlindley-g <notifications@github.com>
wrote:

--
-- Sriram

[2017-11-03 16:46] camelburrito commented on #736
I’ll have to check it out , this could be an IOS bug. I don’t think it’s a
sidebar bug

On Fri, Nov 3, 2017 at 9:02 AM ericlindley-g <notifications@github.com>
wrote:

--
-- Sriram

[2017-11-03 18:31] #720 closed

[2017-11-03 19:07] ericlindley-g commented on #724
+1   and /cc @camelburrito on the GitHub access issue

[2017-11-04 00:00] afilbert commented on #728
I took a look at this just now and I was able to turn the `button` into an `a` anchor with `href` containing just an empty location hash: `href="#"`. That "works" in that using the `on` action still works with `amp-bind`, but it definitely confuses `amp-animation`/`amp-position-observer` for next/prev pages containing a lot of items. This confusion is a consequence, I think, of the page jump.

Tha

[2017-11-04 00:01] afilbert commented on #746
I took a look at this, with mixed results: https://github.com/ampproject/ampstart/issues/728#issuecomment-341855157

[2017-11-04 05:23] #743 closed

[2017-11-04 05:37] camelburrito commented on #728
https://github.com/ampproject/amphtml/blob/master/examples/standard-actions.amp.html#L74

Check if this helps you

[2017-11-06 16:43] afilbert commented on #728
Thanks for the suggestion, @camelburrito. Was out most of the weekend prepping to move to new house, but I'll be able to take a look and try this evening. I'll push to #750 if all works well, or update here.

[2017-11-07 02:16] afilbert commented on #728
Ok, I was able to test `scrollTo` with mixed results. It seems to be dependent upon a couple things:

1. The height of the page (I'm setting `amp-state` in the paging `on` action).
2. The amount of time the CORS request takes to complete.

I could increase the scroll time beyond the default half second, but I think that's kind of a half-measure.

I'm submitting an update for images to #750, but wi

[2017-11-07 23:51] bentranter commented on #704
@camelburrito is this still an issue? I don't see it when building the latest master

[2017-11-08 02:57] camelburrito commented on #704
it is gone now ! thanks

[2017-11-08 02:57] #704 closed

[2017-11-08 18:54] ericlindley-g opened #753 "[travel] results page is blank on first load"

[2017-11-09 17:21] aghassemi opened #754 "[Bike Shop] Empty page while list of products is loading"
While the list of products is loading in Bike Shop, user sees whitespace. We should see what we can do to make this UX better.

Couple of options I can think of that involves using `amp-state` binding with `amp-list` instead of list doing the query, in this approach we can either:

1- Have some initial inlined stale data in `amp-state` which will render the list immediately. Have the `amp-state` d

[2017-11-09 17:44] ericlindley-g commented on #754
+1 I've been thinking about this same thing (getting similar issues in the travel template, as well as with several sites online who are adopting, and it's come up recently with folks who work with developers wondering what to recommend). I would love for us to develop and implement clear pathways to good UX here (and make these patterns clear to external developers)

I like the methods you're pro

[2017-11-09 17:47] aghassemi commented on #754
related bug: https://github.com/ampproject/amphtml/issues/11998

[2017-11-09 18:27] lswang1618 commented on #754
I think there's two things to consider - first, that a site should really only be using amp-list for data that is actually highly dynamic. Otherwise they can rely on stale-and-revalidate model and update-cache pings for the long-tail. Or I could imagine cases where the product list itself is not changing that often, but things like price and variant availability are - in which case they could just

[2017-11-09 18:32] camelburrito commented on #754
Sometimes we should think about how to make the UX better by supporting them in atomic components.

We could do a couple of things

1. Add support for a placeholder /loading state till we receive the xhr response (quite possible we already support it) and make sure when using bind the loading state is triggered when url swap happens

2. Provide decent usage examples of 1. in ampstart. (examples ,

[2017-11-09 18:34] ericlindley-g commented on #754
+1 to your first point, @lswang1618 , though in the short term amp-list is the only way to support autocomplete/sort/filter/etc—dynamic interactions that happen after the initial page load, so that creates some additional complexity. In cases where the data at load time is not highly dynamic, but the developer wants this dynamic functionality, real-data placeholders might make sense and be a seaml

[2017-11-09 18:37] ericlindley-g commented on #754
@camelburrito Recently filed what I think is similar to your #3 here: https://github.com/ampproject/amphtml/issues/11945  Would def want to get more ideas there

[2017-11-09 18:57] lswang1618 commented on #754
Oh got it, makes sense

[2017-11-09 18:57] rachcurrie commented on #753
This is in progress @ericlindley-g, @bentranter is opening a PR shortly for this.

[2017-11-09 19:10] camelburrito opened #756 "namespace firebase functions and move them into a new file"
@bentranter

[2017-11-09 22:21] bentranter commented on #710
This is caused by the rule,

[code]

in the Sidebar components stylesheet. I don't think I can override this, so we could either decrease the left margin, make the text smaller/shorter, or some other workaround.

[2017-11-09 22:28] bentranter commented on #711
Parallax doesn't work unfortunately, but we can space the images out more.

[2017-11-09 22:40] camelburrito commented on #710
make the sidebar content box and add padding should get you there.

[2017-11-09 22:53] bentranter commented on #710
Cool, I'll try that

[2017-11-09 23:55] #705 closed

[2017-11-09 23:55] #706 closed

[2017-11-09 23:55] #707 closed

[2017-11-10 20:35] camelburrito commented on #684
is this on a particular browser? i tried on Max Os Latest chrome and it seems to be file

[2017-11-11 03:20] camelburrito commented on #653
This is not feasible for now - closing

[2017-11-11 03:20] #653 closed

[2017-11-11 03:22] camelburrito commented on #662
This seems to be fixed.

[2017-11-11 03:22] #662 closed

[2017-11-11 03:52] #637 closed

[2017-11-14 16:47] icidasset commented on #717
Hi @spacedino 👋
What do you mean by "wonky", I'm not seeing anything wrong?

[2017-11-14 17:03] icidasset commented on #719
Do you still have this issue @spacedino?
Or do we need @3x sized assets?

[2017-11-14 23:08] #710 closed

[2017-11-14 23:09] #709 closed

[2017-11-14 23:09] #716 closed

[2017-11-14 23:30] #717 closed

[2017-11-15 02:14] spacedino opened #761 "[Lune] Landscape mode is broken"
we need to fix. right now nothing loads in that view.

[2017-11-15 03:01] spacedino commented on #708
This fix introduced a new bug.
**Current:**
User is on Home page > opens side bar > clicks "Home page" in menu > is taken to Exhibit page.

**Should be:**
User is on Home page > opens side bar > clicks "Home page" in menu > side bar closes and user is still on Home page.

[2017-11-15 03:20] spacedino opened #762 "[Travel] Design assets - sketch files / protos / etc."
We have these in an email - needs to be downloaded then uploaded here for tracking.

![image](https://user-images.githubusercontent.com/7339798/32817063-c8c972dc-c970-11e7-847c-0ecda33869ba.png)

[2017-11-15 03:20] spacedino opened #763 "[Gallery] Assets - sketch / proto / etc."
We have these in an email they just need to be added here.

![image](https://user-images.githubusercontent.com/7339798/32817097-e46bbb26-c970-11e7-8615-d92723e33a83.png)

[2017-11-15 03:21] spacedino opened #764 "[Land and See] Assets - photos / sketch / prototypes / etc."
I think we have these but we need to double check and add them to this ticket as well....

[2017-11-15 03:26] spacedino commented on #714
This fix broke it even further.

**Should be**
"Gallery of Modern Art" should be vertical, to match the Home page. It was like this before....don't know why this changed.

https://user-images.githubusercontent.com/7339798/32255713-80420614-be67-11e7-911b-13886df4105b.png

**Current**
"Gallery of Modern Art" is across the top of the page horizontally.
![image](https://user-images.githubusercontent.

[2017-11-15 22:25] #732 closed

[2017-11-15 22:27] spacedino commented on #764
*** this can happen at the ***

[2017-11-15 23:00] spacedino opened #765 "[Land and See] Loader - turn off default 3 dot loader"
Turn off the 3 dot loader can be over written with "no loading" attribute. https://www.ampproject.org/docs/reference/common_attributes#noloading

(The custom loader you have is great so we don't need the default loader. It's too much on slow networks).

ask @camelburrito if you have an issue with this one - he things its an easy and quick fix.

[2017-11-15 23:03] spacedino opened #766 "[Travel] Loader - turn off 3 dot loader"
Turn off the 3 dot loader can be over written with "no loading" attribute. https://www.ampproject.org/docs/reference/common_attributes#noloading

The custom loaders you have are great without the 3 dots.

ask @camelburrito if you have an issue with this one - he things its an easy and quick fix.

[2017-11-15 23:03] camelburrito commented on #719
make the 2x images bigger and use a png optimizer, i usually try to have 2x somewhere around 1024 x 768

[2017-11-15 23:04] camelburrito commented on #719
if the default images are too small make the current 2x the default. Using a png optimizer should help you bring down the file sizes.

[2017-11-15 23:04] spacedino opened #767 "[Gallery] Loaders - remove 3 dot loaders"
Turn off the 3 dot loader can be over written with "no loading" attribute. https://www.ampproject.org/docs/reference/common_attributes#noloading

The custom loaders you have are great without the 3 dots.

ask @camelburrito if you have an issue with this one - he things its an easy and quick fix.

[2017-11-15 23:08] camelburrito commented on #711
@bentranter - why does parallax not work ?

Did you try this?
https://www.ampproject.org/docs/reference/components/amp-position-observer

Check out the 6 codepen examples if you need help.

[2017-11-15 23:17] camelburrito commented on #753
<img width="2306" alt="screen shot 2017-11-15 at 3 12 34 pm" src="https://user-images.githubusercontent.com/1037311/32865429-f0c4f7d2-ca17-11e7-8a0c-ee09b33747cd.png">

On chrome desktop - page load is blank and when i hit the dropdown (no selection needed), it makes another network call and fills in the data.

Also the dropdown does not close back after selection is done.

[2017-11-15 23:25] spacedino commented on #705
(@elindley + @mattludwig -moving to DONE for now. we still see some issue but its complicated, so will file a new ticket for @AMP team to fix if needed later. )

[2017-11-15 23:27] spacedino commented on #717
(Cant repo, think it was my graphics card! :) )

[2017-11-15 23:29] spacedino commented on #718
This is sort of fixed...all of the text / menu bar / button should line up. I think that is the intention, right now it still looks like a bit of mistake.

![image](https://user-images.githubusercontent.com/7339798/32865856-cb69eee6-ca19-11e7-8234-a5b7162b288c.png)

[2017-11-16 21:04] spacedino commented on #633
redlines here:

![footer_mobile_redlines](https://user-images.githubusercontent.com/7339798/32915669-82f95bd2-cace-11e7-8a17-7ee1948962f8.png)
![footer_tablet_redlines](https://user-images.githubusercontent.com/7339798/32915674-86a2e32a-cace-11e7-9cfe-044c367de181.png)
![footer_1000px_redlines](https://user-images.githubusercontent.com/7339798/32915677-8977fe3c-cace-11e7-93e9-6bcc0c4b9b83.png)

![

[2017-11-16 22:08] #719 closed

[2017-11-16 22:09] #708 closed

[2017-11-17 04:54] #633 closed

[2017-11-17 16:47] aghassemi opened #771 "[A11Y] add `aria-current` to navigation lists"
On the main ampstart.com, where-ever the CSS `www-current-page` exists, we also need to add `aria-current="page"`

for templates, similar whenever a navlink is "highlighted", `aria-current="page"` should also be added.

[2017-11-17 16:52] aghassemi commented on #771
(will need to wait for https://github.com/ampproject/amphtml/pull/12102 to be in prod. ETA ~3 weeks)

[2017-11-17 16:56] camelburrito commented on #771
i just got rid of`www-current-page` in the recent updates. But there could be a way to add the aria. Thanks for filing

[2017-11-17 18:21] camelburrito commented on #712
on ipad and ipad mini (chrome emulator) dimensions the big pineapple image is not aligned in the middle.

[2017-11-17 18:57] camelburrito commented on #713
This is still not fixed. I debugged this issue for you -

<svg class="gallery-inner-background-2 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1167 599" aria-hidden="true"><path d="M8 359.5c0 143.5 56.5 179 177.5 179s150.054-30 286-30S737 594 879.5 594 1159 543.5 1159 299.5 1062.734 5 902 5C741.266 5 689 220 568 220s-333.383-72.5-425-72.5c-91.617 0-135 68.5-135 212z" fill="#f5f6fd"></path

[2017-11-17 19:04] #607 closed

[2017-11-17 19:04] #606 closed

[2017-11-17 19:05] #609 closed

[2017-11-17 19:06] #610 closed

[2017-11-17 21:26] davidtapp commented on #753
@camelburrito we're not able to reproduce this on our staging site: https://ampstart-staging-metalab.firebaseapp.com/templates/travel/travel.amp

Can you provide us more repro details possibly?

[2017-11-17 21:32] davidtapp commented on #711
@camelburrito Our previous parallax build had to go without AMP component usage, as it still had a few too many kinks to work out at the time. Thus we collectively decided to remove it. This request unfortunately will require too much additional net new effort to work we can't accommodate for.

[2017-11-17 21:44] davidtapp commented on #713
@camelburrito can you let us know where you're seeing this (browser etc)? We're having trouble reproducing it and think we caught it in most browsers.

[2017-11-17 21:45] davidtapp commented on #712
Kinda by design. Will center all images.

[2017-11-17 21:57] davidtapp commented on #756
@camelburrito we're going to leave this one. We're not entirely sure how to navigate firebase to do it as intended and are just going to focus on the bugs from PRs for now.

[2017-11-17 21:58] camelburrito commented on #712
I think it’s just the big pineapple that looks odd on tablet widths , I’ll leave it up to @spacedino

[2017-11-17 21:58] davidtapp commented on #724
Will do this one. Changing it to the Met! 1000 5th Ave, New York, NY 10028, USA

[2017-11-17 21:59] camelburrito commented on #713
iPhone safari

[2017-11-17 22:00] camelburrito commented on #753
Looks fine now !

[2017-11-17 22:00] #753 closed

[2017-11-17 22:02] camelburrito commented on #711
@davidtapp - I see ok - Ill leave it up to @ericlindley-g and @mattludwig

[2017-11-17 22:04] camelburrito commented on #756
Sure , this should be basically put your JS functions in your own file and have urls like /template/travel/search etc. This is pretty much json config + moving files around.

[2017-11-17 22:53] davidtapp commented on #766
@spacedino @camelburrito Hey team, we're just trying to be hyper focused on the ship blocking bugs that have sprung up post-PRs. We'll put this one in the enhancement bucket we'll probably leave for now based on a need to come to a close on this asap.

[2017-11-17 22:56] davidtapp commented on #767
@spacedino @camelburrito same goes here as per my note on #766.

[2017-11-17 23:18] camelburrito commented on #767
Adding the ‘noloading’ attribute should get rid of the 3 dots

[2017-11-17 23:24] spacedino commented on #711
@davidtapp - the request in this ticket was to "space out the images so they are not overlapping." Do you know why they are still overlapping? Was that an intentional design?...It still looks a bit off on mobile....thanks!

[2017-11-18 00:06] ksokhan commented on #711
Hey @spacedino heres the original design (please ignore different images). The intention was to actually have a bit of overlap. I would say it looks about right now after @bentranter's adjustments. https://www.dropbox.com/s/f9mq1e0jdvyoaw1/Screenshot%202017-11-17%2016.04.29.png?dl=0

[2017-11-18 01:14] #718 closed

[2017-11-18 01:16] #712 closed

[2017-11-18 01:17] spacedino commented on #711
ok! lets leave it :) thanks.

[2017-11-18 01:17] #711 closed

[2017-11-18 03:17] afilbert commented on #765
Thanks for the feedback @spacedino, can you clarify which controls the default 3 dot loader should be turned off for?  Is there an ampstart-specific custom loader that you're referring to? cc @camelburrito

#720 looks like it could be a duplicate.

[2017-11-18 03:34] afilbert commented on #736
I wasn't able to reproduce this in mobile Safari or Chrome. Do you have device/browser details that you could provide, @spacedino?

[2017-11-18 03:41] afilbert commented on #721
This closely follows the approved design mocks. I think the intention was to showcase multi-`amp-carousel` communication using `amp-bind`. The widths needed to be fixed in order to render the absolutely positioned carousels without confusing AMP Runtime's or the `amp-carousel`'s initial dimensions.

[2017-11-18 03:57] afilbert commented on #737
Thanks for the direction. Will address in my next PR.

[2017-11-18 04:25] afilbert commented on #741
Good suggestion, will remove in next PR.

[2017-11-18 04:30] afilbert commented on #742
I think a good middle-ground might be to make the title into a link that goes to the Story, in addition to the READ MORE button. I can put that in my next PR, if that works.

[2017-11-18 11:50] 88kbbq opened #772 "Broken products page"
Product page doesn't show products. No index.html makes it tricky on first install.

"source" "must start with "https://" or "//" or be relative and served from either https or from localhost. Invalid value:" "api/high-low-all-products.json"

[2017-11-18 21:25] afilbert commented on #742
Taking a look at this again, today, and I realized the title is already a link to the story. :)

[2017-11-18 21:48] afilbert commented on #737
Ok, I addressed the tap target to be 40px/40px. The 30% might be a good suggestion for future `amp-carousel` enhancements.

[2017-11-20 10:58] valtido opened #774 "McAfee virus blocking"
I tried to download one of your themes and mcafee stopped me saying that there may be virus by downloading this zip file and virus detected.

Any thoughts on this ?

[2017-11-20 18:36] #731 closed

[2017-11-20 18:36] #741 closed

[2017-11-20 22:09] camelburrito commented on #765
I think she means you can turn it off in places where you have a placeholder that serves a similar purpose. (gray background on the home page).

No, there is no ampstart specific custom loader.

[2017-11-20 23:37] spacedino commented on #765
yes correct, this is a dupe. sorry will close!

[2017-11-20 23:37] #765 closed

[2017-11-20 23:37] spacedino commented on #730
@camelburrito to fix.

[2017-11-20 23:38] spacedino commented on #723
@camelburrito to fix

[2017-11-20 23:41] camelburrito commented on #730
@spacedino did you mean 16px?

[2017-11-20 23:45] spacedino commented on #736
This is an deeplink / iframe issue. So the key to repro'ing is to click from email / hangouts / etc. Does that make sense?

[2017-11-20 23:51] camelburrito commented on #772
Can you tell me how you are serving the project? you will need to serve from the dist folder.

[2017-11-20 23:58] camelburrito commented on #774
@valtido - Thanks for filing the bug!

The file contains HTML and css in a zip file. Does McAfee do it for all the themes or just one theme ?

Also the entire repo is open source, if you are worried about downloading from ampstart.com you download the project and build it with one command `gulp build` (If you have npm and gulp installed) and the take the zip file from the archives.

OR an easier w

[2017-11-21 00:01] spacedino commented on #721
The approved design mocks were 1002px wide. I didn't see any mock ups that were bigger showcasing what what implemented in its entirety. I know that's the challenge with approving statci mocks. If the intention was NOT to span the entire viewport width that wasn't explicitly communicated to me. Apologies if I misunderstood. We do need to fix this before we launch, but I understand if your team doe

[2017-11-21 00:04] spacedino commented on #721
@camelburrito maybe an easy fix due to the eng constraints are to just show more of the images on the side vs expanding the size of the carousel. I know we've had issues with fixed width base on viewport but maybe we can come up with something clever here. I just want it to look intentional, whatever we do.

[2017-11-21 00:05] camelburrito commented on #203
Fixed

[2017-11-21 00:05] #203 closed

[2017-11-21 00:05] #244 closed

[2017-11-21 00:08] camelburrito commented on #257
Yes lets fix in #169

[2017-11-21 00:08] #257 closed

[2017-11-21 00:10] spacedino commented on #735
@camelburrito once the PR is fixed we're good to go? If we can't fix it can we just bold the selection? We just need to show users where they are, the underline is not so important.

[2017-11-21 00:11] camelburrito commented on #258
Seems like an emulator issue, nothing specific to AMP Start (works fine on actual devices)

[2017-11-21 00:11] #258 closed

[2017-11-21 00:15] spacedino commented on #737
@afilbert thank you! yea that's a really good idea - we should just bake that in.

[2017-11-21 00:16] camelburrito commented on #264
I think this has been fixed

[2017-11-21 00:16] #264 closed

[2017-11-21 00:16] #737 closed

[2017-11-21 00:16] camelburrito commented on #267
Closing since we switched to new landing page

[2017-11-21 00:16] #267 closed

[2017-11-21 00:16] #268 closed

[2017-11-21 00:17] spacedino commented on #738
@camelburrito is this an easy fix? if yes i'll mark it "launch blocking". if not lets revisit later.

[2017-11-21 00:18] #269 closed

[2017-11-21 00:19] camelburrito commented on #286
Done

[2017-11-21 00:19] #286 closed

[2017-11-21 00:20] #288 closed

[2017-11-21 00:21] #289 closed

[2017-11-21 00:29] camelburrito commented on #290
I think we did a collab fix on this couple months ago, feel free to open if this does not look right

[2017-11-21 00:29] #290 closed

[2017-11-21 00:30] camelburrito commented on #307
Fixed

[2017-11-21 00:30] #307 closed

[2017-11-21 00:32] #311 closed

[2017-11-21 00:32] #312 closed

[2017-11-21 00:32] #313 closed

[2017-11-21 00:33] #315 closed

[2017-11-21 00:41] spacedino commented on #722
Design mocks @1024px width -
![image](https://user-images.githubusercontent.com/7339798/33048690-0fb07a02-ce11-11e7-8ccb-4226d1304d99.png)

Actual @1024px width -

![image](https://user-images.githubusercontent.com/7339798/33048717-2ac1f23a-ce11-11e7-958f-2eeded7261d4.png)

The sizing is close but does look a little bigger in the mock ups proportionally. I totally get that you want to follow what

[2017-11-21 00:45] spacedino commented on #726
@mattludwig @ericlindley-g - does this new copy work? i've been seeing our templates more and more in the wild now and people really don't change things they think are good enough. I fear this will be one of them and want to make sure what we put here is what we would recommend from a copy perspective as well. This is similar to what I have see in the wild, so just explaining a bit more I think wo

[2017-11-21 00:48] bentranter commented on #715
Can this be closed?

[2017-11-21 00:49] camelburrito commented on #321
I think we fixed this together , let me know if this needs to be updated

[2017-11-21 00:49] #321 closed

[2017-11-21 00:50] camelburrito commented on #320
Looks fixed now - this was an instagram issue anyways looks like we fixed it in the component

[2017-11-21 00:50] #320 closed

[2017-11-21 00:50] spacedino commented on #746
DUPE of #728

[2017-11-21 00:50] #746 closed

[2017-11-21 00:53] spacedino commented on #765
actually @camelburrito , i'm still seeing it in places like here...its particularly confusing because it looks like the carousel UI. @aghassemi - when we change the loader will it apply to components already implement?

<img width="1680" alt="screen shot 2017-11-20 at 4 48 53 pm" src="https://user-images.githubusercontent.com/7339798/33049076-31332fba-ce13-11e7-9140-c0b44593542e.png">

[2017-11-21 00:53] camelburrito commented on #323
This could be because of a variety of things, from slow browser to slow CPU to jumpy images, if they are at a particular spot then we can fix this else we cannot.

[2017-11-21 00:53] #323 closed

[2017-11-21 00:54] #324 closed

[2017-11-21 00:55] camelburrito commented on #326
@spacedino to Upload mocks

[2017-11-21 00:57] camelburrito commented on #765
So the easy fix here is to add the `noloading` attribute on images and carousels all over. And implement a blanket CSS Placeholder and enable the placeholder by just adding `<div placeholder></div>` in the component markup

[2017-11-21 00:58] camelburrito commented on #765
@spacedino feel free to reopen

[2017-11-21 00:59] bentranter commented on #713
Sorry @camelburrito, I think I'll need a specific iOS version to repro this 😞 tried on iOS Safari 11.1.2 on iPhone 6+, and I don't observe the issue.

[2017-11-21 00:59] camelburrito commented on #332
We should plan this better syncing with other projects in the roadmap, closing this here.

[2017-11-21 00:59] #332 closed

[2017-11-21 01:02] camelburrito commented on #334
needs more clarity

[2017-11-21 01:03] #245 closed

[2017-11-21 01:03] camelburrito commented on #335
Dupe of https://github.com/ampproject/ampstart/issues/252

[2017-11-21 01:03] #335 closed

[2017-11-21 01:04] camelburrito commented on #339
any Updates?

[2017-11-21 01:05] camelburrito commented on #340
This could be just a guideline on GIT and how to open a PR as opposed to something that the website does.

@ericlindley-g

[2017-11-21 01:06] camelburrito commented on #342
I think i fixed some of them with the Typography classes. Let me know if this still needs more fixing

[2017-11-21 01:06] #342 closed

[2017-11-21 01:07] #343 closed

[2017-11-21 01:07] camelburrito commented on #344
yes Please ! Lets do it this year :)

[2017-11-21 01:10] aghassemi commented on #765
[code]

should do it too.

[2017-11-21 01:11] camelburrito commented on #358
I think this is done.

[2017-11-21 01:11] #358 closed

[2017-11-21 01:12] #422 closed

[2017-11-21 01:13] #432 closed

[2017-11-21 01:13] #434 closed

[2017-11-21 01:14] #433 closed

[2017-11-21 01:15] #499 closed

[2017-11-21 01:20] camelburrito commented on #597
I actually do not know the answer to this, but you could ask the search console help - https://support.google.com/webmasters/?hl=en#topic=3309469

[2017-11-21 01:20] #597 closed

[2017-11-21 01:23] camelburrito commented on #713
I used iphone 6s and 11.0.3

[2017-11-21 01:24] camelburrito commented on #681
This is a side effect of amp-list and there is no way out

[2017-11-21 01:24] #681 closed

[2017-11-21 01:25] camelburrito commented on #684
@apraditya - I am closing this for now , feel free to re-open with more platform specifics

[2017-11-21 01:25] #684 closed

[2017-11-21 02:13] spacedino commented on #745
hm... @ericlindley-g this would be a good candidate for infinite scrolling...OK if we keep this UI pattern, then this would be my visual design recommendation below....I am not really sure if we want to show this as a good pattern to mimic....It feels a little like a bait and switch with only showing 2 results and then the "Sign up for newsletter"...I would at least recommend we show 4 results bef

[2017-11-21 02:21] #742 closed

[2017-11-21 02:22] spacedino commented on #739
thanks! when #615 is fixed this one will be too. closing for now ( @camelburrito let me know if that's not true).

[2017-11-21 02:22] #739 closed

[2017-11-21 09:55] valtido commented on #774
All the templates reported the same thing, and I am pretty sure it contained viruses too, as my computer got the "blue screen of death" (a MS banter intended) shortly after that and computer kept freezing.

This was really unusually and never happened before that.

I would recommend that someone does a full scan or investigate on the files.

[2017-11-21 14:29] ericlindley-g commented on #745
For now the workaround sounds good— @afilbert, is @spacedino's proposed UI feasible?

+1 to this being a good infinite scroll candidate in the future (will need to generate more dummy articles).

[2017-11-21 14:33] ericlindley-g commented on #344
+1

Would love a better loader in the runtime itself, plus customized loaders in AMP Start for each of the themes. Is that what you're thinking?

[2017-11-21 14:34] ericlindley-g commented on #334
Passing back to @spacedino  for clarity

[2017-11-21 14:35] ericlindley-g commented on #326
passing back to @spacedino

[2017-11-21 14:43] ericlindley-g commented on #726
+1 to clarifying that this is an email signup—though I think we can be really economical here and still be clear. I suggest:

Text above input: "Weekly inspiration from Land + See"
Placeholder text for input: "Enter email address to subscribe"

WDYT?

[2017-11-21 16:59] mattludwig commented on #726
SGTM!

[2017-11-21 17:34] camelburrito commented on #774
i just downloaded a couple of zips and virus scanned them. They are fine and have no virus. you must have  caught it up elsewhere. None of our zip files have any executables in them so they should be pretty safe.

[2017-11-21 17:34] #774 closed

[2017-11-21 21:47] #715 closed

[2017-11-21 21:55] spacedino commented on #736
only ios - know issue

[2017-11-21 22:02] spacedino commented on #735
we can hardcode this on the page level for now.

[2017-11-21 22:07] camelburrito commented on #735
@afilbert - I think we can add a class like landsee-current-page  to the elements that need underline

[2017-11-21 22:14] camelburrito commented on #728
@afilbert - using scroll to to a parent container should take you to the top of the container right? I think having the scroll to is better than not having it.

[2017-11-21 22:18] spacedino commented on #722
lets see if we can change this in variables.

[2017-11-21 22:22] spacedino commented on #734
we might need to fix the component for this one... amp-carousel , type=slides

[2017-11-21 22:25] #766 closed

[2017-11-21 22:25] #767 closed

[2017-11-21 22:25] #724 closed

[2017-11-21 22:25] #714 closed

[2017-11-21 22:25] #713 closed

[2017-11-21 22:37] spacedino commented on #740
increase translucent area so user has bigger tap target.

[2017-11-21 23:44] spacedino opened #776 "[ampstart.com] Footer tweaks"
footer:

- [x] center share icons
- [x] text explaining amp = .75rem
- [x] 0 LS
- [x] "other" + "links" - label class
- [x] links size = 1rem
- [x] margin under links .5rem
- [x] add "YouTube Channel" under "other resources"
- [ ] remove extra spacing at the bottom
- [ ] add analytics

cc @ericlindley-g

[2017-11-27 03:21] afilbert commented on #728
@camelburrito that's correct. I was able to get it to scroll nicely using `.scrollTo()`. The challenge is that when it scrolls, particularly on mobile, sometimes the `amp-animation` events don't trigger. This ends up leaving the entire content region invisible to the user until they scroll down and then back up again. I reasoned that it was better to have content show up and make the user aware of

[2017-11-27 04:23] camelburrito commented on #728
Can you file a bug on amphtml with links / steps to repro, and link that
bug here

On Sun, Nov 26, 2017 at 7:21 PM Aron Filbert <notifications@github.com>
wrote:

--
-- Sriram

[2017-11-27 04:34] afilbert commented on #735
@camelburrito I think the main challenge in this was that we have various different possible categories on page load. Using the `:target` method for underlining page-load categories works well for any specific category, but hardcoding ALL to be underlined on page load results in the possibility that the ALL nav item _and_ some other category nav item could both be underlined simultaneously if ther

[2017-11-27 05:21] afilbert commented on #745
AMP Runtime ultimately [decides](https://www.ampproject.org/docs/reference/components/amp-list#behavior) whether to show an overflow element. Our design placing the `amp-list` near the top of the page increases the likelihood of needing to specify an overflow. In developing this, I noticed that sometimes `amp-list` would load the CORS response fully. The height of the list would then be calculated

[2017-11-28 17:17] davidtapp commented on #762
**Code Repository:**
https://github.com/metalabdesign/ampstart
**Museum Template Site Link:**
https://ampstart-staging-metalab.firebaseapp.com/templates/gallery/gallery.amp
**Museum Template Link (Unconstrained - Live VR):**
http://google-amp-gallery-vr-demo-12ab3gsbn3gv1.surge.sh/
**Video of VR experience:**
https://youtu.be/QSLsWIjaJpo
**Page 2 Parallax Reference (MOV):**
https://www.dropbox.com

[2017-11-28 17:18] davidtapp commented on #762
cc @camelburrito @spacedino :-D

[2017-11-28 17:19] davidtapp commented on #763
**Code Repository:**
https://github.com/metalabdesign/ampstart
**Museum Template Site Link:**
https://ampstart-staging-metalab.firebaseapp.com/templates/gallery/gallery.amp
**Museum Template Link (Unconstrained - Live VR):**
http://google-amp-gallery-vr-demo-12ab3gsbn3gv1.surge.sh/
**Video of VR Experience:**
https://youtu.be/QSLsWIjaJpo
**Page 2 Parallax Reference (MOV):**
https://www.dropbox.com

[2017-11-28 17:26] davidtapp commented on #762
Code Repository:
https://github.com/metalabdesign/ampstart
Travel Template Site Link:
https://ampstart-staging-metalab.firebaseapp.com/templates/travel/travel.amp
MOV Reference (Mobile):
https://www.dropbox.com/s/043s2f75p6raxni/Travel-MobileHome_v1.0.mov?dl=0
MOV Reference (Microanimations - Page 2):
https://www.dropbox.com/s/3c78bx444ohsvnm/travel-micros.mov?dl=0
Sketch Files of Template:
https:

[2017-11-28 17:33] camelburrito commented on #762
@davidtapp - thank you , I would prefer that you merge this in the ampstart repo inside the mock folder from your GitHub profile so that you get the credit for it :) if you will not have the time to do it , I’ll check them in myself !

[2017-11-28 18:36] davidtapp commented on #762
@camelburrito Got it. If you don’t have preferences on naming conventions for files, metadata etc and instruct us on where exactly you’d like them to go in the repository, we’ll take care of it. If it does require these things, we’ll have to leave it with you guys.

[2017-11-28 18:43] camelburrito commented on #762
No conventions or reviews on these :)

Create a folder for your template here and dump the files in a structure of
your liking

https://github.com/ampproject/ampstart/tree/master/mocks

On Tue, Nov 28, 2017 at 10:36 AM David Tapp <notifications@github.com>
wrote:

--
-- Sriram

[2017-11-29 21:43] spacedino commented on #763
Thanks! I know this is a silly question but I don't see the source image files anywhere.... :P

[2017-11-29 22:23] spacedino commented on #776
- [ ] text is too small now, go back to 1rem
- [ ] line height for text should be the same as "body copy" class

[2017-11-30 02:37] afilbert commented on #728
Done. Here ya go, @camelburrito: https://github.com/ampproject/amphtml/issues/12260

[2017-11-30 18:15] davidtapp commented on #763
@spacedino image assets are under each project’s `img` directory and within the Sketch files themselves. Does that work for you guys?

[2017-11-30 22:22] #762 closed

[2017-11-30 22:22] #763 closed

[2017-12-01 00:05] ericlindley-g commented on #735
Can't do for now — feature request for AMP!

[2017-12-01 00:11] spacedino commented on #721
per conversation: suggested fixes for G&M to adjust as needed
- [ ] increase max width to 1600px
- [ ] feather out edges per image below

![image](https://user-images.githubusercontent.com/7339798/33461817-0381b0a4-d5e9-11e7-9122-4cd385ccfc20.png)

[2017-12-01 00:13] afilbert commented on #729
Change form to submit to root should fix this: `/template/land-see/land-see.amp.html`.

[2017-12-01 03:51] afilbert commented on #745
Determined that we'd find a nice height middle-ground and go with the gradient "SHOW" design as [mocked](https://github.com/ampproject/ampstart/issues/745#issuecomment-345894184).

[2017-12-01 03:52] afilbert commented on #740
Planning to drop in an `amp-carousel` and use the gradient as the "next" arrow.

[2017-12-03 12:08] 88kbbq commented on #670
Adding to this, Stackoverflow requires karma, so many of us are unable to post for help. We'd like to see some examples of forms and how to make them actually work. There are plenty of examples of HMTL forms, but there is nothing about action-xhr and possible PHP or other endpoints to work with. Nothing for regular forms works with AMP that I've tried. And I am trying, but what you have going on h

[2017-12-03 12:09] 88kbbq commented on #670
This doesn't work and I don't know why:
`<?php
$myemail = 'kevin@88k.com.tw';
if (!empty($_POST)) {
    header("access-control-allow-credentials:true");
    header("access-control-allow-headers:Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token");
    header("access-control-allow-methods:POST, GET, OPTIONS");
    header("access-control-allow-origin:".$_SERVER['HTTP_ORIGIN']);
    header("

[2017-12-03 14:41] 88kbbq opened #780 "How to implement?"
On first read, there are no instructions on how to implement the styling on AMP Start. How to implement this css for inputs, etc.?

[2017-12-05 19:38] #729 closed

[2017-12-05 19:38] #740 closed

[2017-12-05 19:39] camelburrito commented on #776
https://github.com/ampproject/ampstart/pull/779

[2017-12-05 19:39] #776 closed

[2017-12-05 20:01] camelburrito commented on #780
@88kbbq - If you are using one or the ampstart templates you need to just copy paste the components from ampstart.com/components -https://ampstart.com/getstarted - Does this help? (Feel free to re-open if you need more help or ping me on our slack channel)

[2017-12-05 20:02] #780 closed

[2017-12-05 20:02] #772 closed

[2017-12-06 22:15] spacedino commented on #763
GALLERY:

most recent sketch file: https://github.com/ampproject/ampstart/blob/master/mocks/gallery/gallery.sketch

images link:
https://github.com/ampproject/ampstart/tree/master/img/gallery

[2017-12-06 22:17] spacedino commented on #762
TRAVEL:

most recent sketch file:
https://github.com/ampproject/ampstart/tree/master/mocks/travel

image folder:
https://github.com/ampproject/ampstart/tree/master/img/travel

[2017-12-07 10:48] ericlindley-g opened #784 "Correct rel=canonical link for product-listing.amp"
Currently:

https://ampstart.com/templates/e-commerce/product-listing.amp
... has a rel=canonical set to:
https://www.ampstart.com/templates/e-commerce/product-details.amp

Should be
https://www.ampstart.com/templates/e-commerce/product-listing.amp

[2017-12-07 20:53] spacedino commented on #745
I can't trigger this anymore...can't tell if it's fixed...

[2017-12-08 04:13] ericlindley-g commented on #745
Was really hard to trigger (which means we probably have a good default height), but I managed eventually:

<img width="667" alt="screen shot 2017-12-08 at 1 11 51 pm" src="https://user-images.githubusercontent.com/16807766/33750750-6d403d9a-dc19-11e7-8249-3fb5152b2f9b.png">

Seems like at least the gradient should be stronger, to give the text more background protection, but generally in the righ

[2017-12-08 22:59] spacedino opened #785 "[TRAVEL] - Launch blocking bugs FINAL"
Home page - match mock up

- [x] Replace tiny "Discover more" text with "Explore"

- [x] Center "Explore" text"

- [x] Move carat below "Explore" text - 8px padding

- [x] Make "Explore" + carat tappable > should trigger page scroll to top

- [x] Fix dead white area > should be darker to match mock

![image](https://user-images.githubusercontent.com/7339798/33788505-8fecba9a-dc27-11e7-9e4a-2a1cfcd

[2017-12-09 03:09] spacedino opened #786 "[GALLERY] Article page launch blocking final"
2 bugs

- [ ] somehow now the carousel doesnt flush with the left edge of the page on page load for certain device sizes...is this worth looking into?
Galaxy 5s below 340x640
![image](https://user-images.githubusercontent.com/7339798/33792027-3b28c19c-dc4b-11e7-822f-91b332537aef.png)

SHOULD BE
![image](https://user-images.githubusercontent.com/7339798/33791863-22a834fc-dc48-11e7-95b7-2825abf7e226

[2017-12-09 03:12] spacedino opened #787 "[LAUNCH SITE] Final assets for Homepage + Templates page"
Homepage:

- [x] Replace hero
- [x] Replace hero loader
- [x] Replace The Scenic with > Museum / Gallery @mattludwig for final name
- [x] Replace Bike Shop with > Travel @mattludwig for final name

![13_homepage_hero_loader copy 3](https://user-images.githubusercontent.com/7339798/33792163-7547a544-dc4d-11e7-80b5-333677418c1a.png)
![13_homepage_hero_loader copy 3 2x](https://user-images.githubuser

[2017-12-11 19:05] spacedino commented on #605
- [ ] center icons
![image](https://user-images.githubusercontent.com/7339798/33848342-4129cfaa-de62-11e7-9a27-4d29dd2df153.png)

- [ ] @778px the preview of the template is gone
![image](https://user-images.githubusercontent.com/7339798/33848230-eec64036-de61-11e7-8fbd-ee2c33eea79a.png)

--------------------- NOT LAUNCH BLOCKING BELOW---------------------

- [ ] remove grey line (maybe 1 px?) at

[2017-12-11 23:41] camelburrito commented on #605
The lightbox takes over the whole screen, and we cannot have the top bar inside the fullscreen view

[2017-12-11 23:58] spacedino commented on #786
Moving this to non-launch blocking. The way this was implemented makes it not worth fixing right now.Marking as resolved for now after talk with @camelburrito

cc @ericlindley-g

[2017-12-11 23:58] #786 closed

[2017-12-12 18:28] #605 closed

[2017-12-12 18:28] #787 closed

[2017-12-13 00:09] #784 closed

[2017-12-20 23:15] spacedino opened #795 "[TRAVEL - Home] Bugs intro'd by fixes"
Can @ericlindley-g , @mattludwig confirm these?

- [ ] container line for "email / sign up" is 1 px off. White is extending beyond container. [safari, ios 11.1.2]

- [ ] tiny weird white space, exacerbated in landscape view [safari, ios 11.1.2] - its possible this isnt worth fixing - i leave it to @camelburrito to decide. right now it looks way better than it did!!

- [ ] Mobile scrolling is buggy

[2017-12-20 23:17] camelburrito commented on #795
@spacedino - did you forget to attach screenshots?

[2017-12-20 23:18] spacedino commented on #795
didnt forget - switching over to mobile to do it :) hold pls.

[2017-12-20 23:42] spacedino commented on #785
LGTM - @ericlindley-g @mattludwig to approve.

[2017-12-20 23:53] #785 closed

[2017-12-21 15:01] mattludwig commented on #795
Just checked and I can only reproduce the second issue ("tiny weird white space, exacerbated in landscape view [safari, ios 11.1.2]"). I'm on Chrome, Android, 8.1.0.

[2017-12-25 05:26] afilbert commented on #764
Hey there. Grain & Mortar reached out with final assets zip file. It's a larger file at 600+MBs. Here's a link:

https://grainandmortar-public-bucket.s3.amazonaws.com/Eric/Google_AMP_Land_See_Finals.zip

That link probably isn't permanent, so should I commit it to the project somewhere and open a pull request?

Also, there is a [subfolder in mocks for land-see](https://github.com/ampproject/ampsta

[2018-01-12 10:23] piotrkochan opened #797 "Repository size is enormous"
I think that it is not normal that repository size is about 600MiB

[code]

[2018-01-25 11:10] ithinkihaveacat opened #798 "Make it easier to view template URLs "directly""
It's not easy to view a raw template directly. i.e. to view/discover URLs like:

https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp#amp=1

It would be useful to expose these URLs in some way to make it easier to:

- Link directly to these templates. (I don't think this is possible right now--without looking at the source, you can only link to a category like "Art & Design".)
- Qu

[2018-01-30 23:03] rhroyston opened #799 "Get Started Quickly Templates: CSS Too Complicated"
ISSUE:
3,500 lines of CSS (when formatted for IDE viewing/development) in the [Gallery Quick Start Template](https://www.ampstart.com/archive/gallery.zip) is too much. 3,800 lines of CSS in the E-Commerce template.

RECOMMENDED SOLUTION:
Provide a simple getting started template to make AMP-HTML more accessible.

![image](https://user-images.githubusercontent.com/12751611/35594482-f69fb956-05d8-11

[2018-02-01 15:15] bangyasri opened #800 "2koto"
Success for all

[2018-02-07 21:53] cathyxz commented on #799
@rhroyston Could you provide more context on what would a good "getting started" template look like for your use case? For example, for basic styling of commonly used components, there's also: https://ampstart.com/components, for just a bare bones boilerplate amp, there's this [codelab](https://www.ampproject.org/docs/tutorials/create/basic_markup). ampbyexample.com should have basic (no styling)

[2018-02-07 22:03] rhroyston commented on #799
I reviewed the info you shared. Thank you. re https://ampstart.com/components, I initially don't see where to copy/paste from but did figure out I needed to click the "HTML" chevron to get the actual HTML code. Maybe auto expand that first one to highlight that the HTML is hidden until expanded? (or maybe it's just me!). Anyways, thanks for the response. I simply found the getting started template

[2018-02-08 00:52] #721 closed

[2018-02-08 02:38] camelburrito commented on #734
This is not in ampstart's control. I have made a few fixes on the amp-carousel as well. Lets revisit this on amphtml if needed

[2018-02-08 02:38] #734 closed

[2018-02-08 02:57] camelburrito commented on #722
No this has to be individually changed

[2018-02-08 03:13] spacedino commented on #730
we need to pair on this one to get it right. i can't give you a size because i can't see the font size for body in the inspector for some reason.

[2018-02-08 03:37] camelburrito commented on #747
This is a limitation of the accordion and hence removing the launch blocking.

[2018-02-08 03:50] #722 closed

[2018-02-08 03:50] #723 closed

[2018-02-08 03:50] #726 closed

[2018-02-08 03:50] #744 closed

[2018-02-09 01:09] #800 closed

[2018-02-09 05:00] camelburrito commented on #799
Also @rhroyston The zip file will contain un-minified CSS as well that should make it easier for you to edit. The minification saves bytes and keeps things well under 50K.

[2018-02-09 05:06] camelburrito commented on #797
This repo is really heavy on images. If you think of it as a place to hold multiple templates (websites) then you will know why it is heavy on size. If you want to work on it locally then it totally makes sense to delete unwanted template data.

[2018-02-09 05:06] #797 closed

[2018-02-09 23:17] camelburrito commented on #798
it should really be https://ampstart.com/templates/travel/travel.amp.html , the iframes url is to workaround same origin difficulties in the preview iframes

[2018-02-09 23:18] #754 closed

[2018-02-13 14:59] #799 closed

[2018-02-15 04:23] camelburrito opened #804 "GIFs not being packaged in downloadable zips"

[2018-02-16 05:02] stephengardner opened #805 "Doesn't install - amphtml-validator not matched"
Trying to install this straight from the repo
`git clone https://github.com/ampproject/ampstart`
`cd ampstart`
`npm i`

It fails.  It keeps failing.

Any help?

[code]

I've used the most recent version of `amphtml-validator`, downloaded via `npm i -g amphtml-validator`.  I also explicitly chose `1.0.21` but that makes no difference, same error.

[2018-02-16 14:28] stephengardner opened #806 "Upgrade Node Version"
Node is `^7.0.0` giving this error with `yarn`:

[code]

Using Node 8+

[2018-02-28 13:20] rrjanbiah opened #807 "Jekyll compliant templates"
Wishlist: Jekyll compliant templates https://www.ampstart.com/templates would be really cool to have

[2018-02-28 21:05] erwinmombay commented on #805
looking into his

[2018-03-01 00:13] camelburrito commented on #807
Thanks for filing the feature request!

I know some one who created a jekyll theme from our blog post theme - https://github.com/shoyan/ampstart-blog-post.

We will have this in mind when we do future planning.

[2018-03-01 00:13] #807 closed

[2018-03-01 07:59] rrjanbiah commented on #807
@camelburrito Thanks for referring above project

I vaguely remember that @pbakaus was putting lot of efforts to make AMP spread across all communities. Listing these works in main website will be very good.

May I know if I can contribute anything here?

[2018-03-04 12:07] bangyasri opened #809 "2koto"
Untuk sosial yg terbaik

[2018-03-05 06:11] prasannamestha opened #810 "Templates won't load after clearing ampcache"
Hey,

I tried clearing the amp cache using https://amp-cache-refresh.appspot.com/. Now surprisingly the templates listed here https://ampstart-iframes.firebaseapp.com/templates don't load. We can see the preview but upon clicking on the template, blank page loads.

Thanks

[2018-03-07 19:33] camelburrito commented on #810
does it permanently not load ? or was it a one time thing?

I just tried this on incognito works fine for me.

[2018-03-07 19:33] #810 closed

[2018-03-07 19:34] camelburrito commented on #805
@erwinmombay can this be closed?

[2018-03-12 05:03] #806 closed

[2018-03-12 05:04] stephengardner commented on #805
Closing - just installed tonight and it worked.  Thanks!

[2018-03-12 05:04] #805 closed

[2018-03-30 22:09] pbakaus opened #811 "Image missing on homepage in 1x DPR"
![image](https://user-images.githubusercontent.com/43004/38155364-3a20f6f0-342c-11e8-87c6-92316777d23b.png)

Easy fix: Fix spelling mistake in src for 1x from `/img/www/index/landseee_both.png 1x` to `/img/www/index/landsee_both.png 1x`.

[2018-04-01 21:31] D3MZ opened #814 "(node:6781) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 task_stop listeners added. Use emitter.setMaxListeners() to increase limit"
Can't run on localhost on Mac OS for some reason. Any help would be appreciated.

[code]

![localhost](https://i.imgur.com/fur5k9c.png)

[2018-04-03 17:32] #811 closed

[2018-04-18 04:02] 88kbbq commented on #795
The horizontal scroll in for the travel template in iOS is a bug. Should not have horizontal panning or scrolling.

[2018-04-18 06:00] spacedino commented on #795
That’s a known bug in a different issue. I don’t thing there is a way to
fix it currently.

abbybeck@
AMP Design Lead www.ampproject.org / www.ampstart.com / www.ampbyexample.com

[2018-04-18 15:16] ericlindley-g commented on #795
I think we can just drop it into an `<amp-carousel type="carousel">` — I thought we had done this before launch across all the templates, but looks like it got missed.

@camelburrito @aghassemi @pbakaus   — does anyone have bandwidth to put this horizontally scrolling element into a carousel so it doesn't break in AMP viewer contexts?

[2018-04-20 16:01] ericlindley-g opened #815 "Land+See: instagram embed sizing broken"
Instagram embed sizing is broken on the article page (overlaps with other UI):

<img width="348" alt="screen shot 2018-04-20 at 8 59 49 am" src="https://user-images.githubusercontent.com/16807766/39061475-42f08dec-4479-11e8-8045-3ecbfcaf6239.png">

Related to resizing rule changes for amp-instagram?
/cc  @cathyxz  @camelburrito

[2018-04-20 16:07] ericlindley-g commented on #815
Looks like this happens only in the embedded context, FYI (on desktop ampstart.com, click the eye icon associated with the template to see)

[2018-04-25 20:37] ericlindley-g commented on #814
Thanks for reaching out, @D3MZ , and apologies for the delay. I'm not sure who has bandwidth at the moment to take a look, but /cc @aghassemi @jpettitt  @camelburrito  for visibility.

[2018-04-25 20:40] camelburrito commented on #814
@D3MZ - try using firbase serve instead (if you have firebase), and use gulp watch. I did notice the weirdness last time i used gulp serve, i thought it was a one off thing.

[2018-04-25 21:49] camelburrito commented on #815
which page is this on ?

[2018-04-25 22:02] ericlindley-g commented on #815
Sorry — not on the home page for Land+See, but on the article page

[2018-05-04 21:18] camelburrito commented on #815
This looks like something broke on instagram. We have not touched anything here for a while

[2018-05-04 21:41] nainar commented on #815
Assigning this to myself. Seem like instagram isn't returning the height with the compensated padding-{top,bottom} values anymore. We currently compensate for that [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-instagram/0.1/amp-instagram.js#L216). Removing our compensation fixes the issue. I'll submit a PR for this.

[2018-05-04 21:51] nainar commented on #815
PR out here: https://github.com/ampproject/amphtml/pull/15105

[2018-05-07 16:05] #815 closed

[2018-05-11 15:49] jpettitt opened #816 "Example template load very slowly on a cold cache due to excessive image size"
On desktop go to https://ampstart.com/templates, clear cache, and open the adventures template.  Load time is excessive which appears to be due it loading 29MB of images.

[2018-06-05 14:13] moyvera commented on #795
somebody working on a page for the detail of the trips ?

[2018-06-05 16:16] ericlindley-g commented on #795
@moyvera — I'm not aware of anyone working on additional page types for the travel theme (no one on the existing AMP Start team is), though like AMP HTML, AMP Start is open to contributions.

[2018-06-08 18:09] vtntimo opened #817 "ampstart failing to run with Ubuntu 18.04"
I am having trouble getting ampstart to run on Ubuntu 18.04.

`npm i` runs and finishes without problems

`npm run watch` and `npm run build` both return the same error:

[code]

I've tried to run it with node versions 8.x, 9.x and 10.x, yet I still get the same error message. I also have the build-essential -package installed. I've gotten the ampstart-package to run on my macOS just fine, but thi

[2018-07-02 13:39] juliavallina opened #819 "Typo in Links & Sharing doc"
While taking a look at ampstart.com documentation, I have noticed a small typo in the [Links and sharing section](https://ampstart.com/components#links-and-sharing)
The typo is in the class `ampstart-rekated-article-readmore` of the `READ MORE` link
Just `rekated` instead of `related` 🤓
![typo in rekated](https://user-images.githubusercontent.com/3521323/42167269-cd815d06-7e0d-11e8-9d98-d8edc22ffb

[2018-07-03 11:53] fstanis commented on #817
Perhaps Java is not installed? What's the output of `java -version`?

[2018-07-05 14:49] reinhardmohr opened #820 "Missing css style makes Googlebot render a site falsely with heavy consequences for ranking"
Hi, I had submitted this same bug on ampproject/amphtml (#16538) but was advised by some John Pettitt to file the bug again here – so I repeat it here. Thanks for helping!

**Starts here:**
I had made a new AMP site for a customer. It did not rank well after a while with Google. So I looked into it. In Google Search Console (GSC) there is a feature "fetch as Google" where you can see how Googlebot

[2018-07-09 20:47] ericlindley-g commented on #820
/cc @aghassemi

[2018-07-28 19:38] vtntimo commented on #817
Doh.

[2018-07-28 19:38] #817 closed

[2018-08-08 02:04] camelburrito commented on #820
@reinhardmohr thanks for filing the bug , could you share what exactly was the fix ?

[2018-08-08 07:38] reinhardmohr commented on #820
Hi, camelburrito,
I added
`			.ampstart-headerbar {
				height: 4rem;
			}`
to the styles in the head of the page. This seems to have fixed it. As now the headerbar for Googlebot does not cover the complete page with its white background. And Googlebot now renders the page correctly.

[2018-08-18 08:55] VinayRajput opened #826 "not able to run ampstart project on my local dev"
after getting a clone from https://github.com/ampproject/ampstart

I have started following README.md

after running command 'npm i'

i got following error
----------------------------------------------------------------
vr@vr ~/git/ampstart2 $ npm i

npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but npm-shrinkwrap.json was generated for lockfileVersion@0. I'll

[2018-09-29 04:32] xjazli opened #837 "Some Bugs In AMP Start Travel Template"
Hi guys , im new here. Just want to inform you guys some issues with AMP Start Travel template, there are some weird things happen for the overflow scroll when i slide to the third picture , seems like the picture will not load at all. Maybe because my browser doesn't render the part or else or i don't know what cause the issue. I hope any experts can look into this problem because that overflow s

[2018-10-09 21:39] omaribarra-dev opened #838 "Bug in main index.html"
There is a problem in the html markup in the end of the html document it is:

`
  | <body>
  | </body></body></html>
`

i think it is because in /www/index.html body tag in line 183 need to be closed </body>

[2018-10-16 23:09] #838 closed

[2018-12-09 11:22] forking-renovate opened #843 "Dependency deprecation warning: babel-preset-es2015 (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v6.24.1) of dependency `babel-preset-es2015` has the following deprecation notice:

`🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package a

[2018-12-09 11:22] forking-renovate opened #844 "Dependency deprecation warning: gulp-util (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v3.0.8) of dependency `gulp-util` has the following deprecation notice:

`gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package auth

[2018-12-12 08:12] Trilochan20 commented on #837
I saw the same issue. While opening in mobile the third image won't load at all. If I rotate the screen it'll load. I thought it should be related lazy loading issue or something else I don't know. I couldn't find anything related to disabling lazy loading of a particular image.

[2018-12-14 16:56] ali-hellani opened #845 "Components files watch issue - not compiled to dist"
i am using windows 7.

when i do `npm run serve` to watch for files change, everything works fine but not for the files inside components folder, the `gulp.watch` triggers but nothing compiled to the dist.

so what am i doing wrong ?

[2018-12-19 11:26] forking-renovate opened #846 "Dependency deprecation warning: babel-preset-es2015 (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v6.24.1) of dependency `babel-preset-es2015` has the following deprecation notice:

`🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package

[2018-12-19 11:26] forking-renovate opened #847 "Dependency deprecation warning: gulp-util (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v3.0.8) of dependency `gulp-util` has the following deprecation notice:

`gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package aut

[2018-12-19 12:17] forking-renovate[bot] opened #848 "Dependency deprecation warning: babel-preset-es2015 (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v6.24.1) of dependency `babel-preset-es2015` has the following deprecation notice:

`🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package a

[2018-12-19 12:17] forking-renovate[bot] opened #849 "Dependency deprecation warning: gulp-util (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v3.0.8) of dependency `gulp-util` has the following deprecation notice:

`gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package aut

[2019-01-10 16:26] marcelovani opened #862 "Ability to specify the amp component with specific version"
When I run the output on the AMP Validator, it shows an error saying:

See: https://www.ampproject.org/docs/reference/components/amp-mustache

I want to suggest the ability to specify the version of the amp components

[2019-01-10 17:01] jpettitt commented on #862
See https://github.com/ampproject/amphtml/blob/master/spec/amp-versioning-policy.md

[2019-01-10 17:18] marcelovani commented on #862
So what I am suggesting is that we can specify the version for each component, see https://github.com/ampproject/ampstart/pull/863/files

[2019-01-10 17:22] jpettitt commented on #862
Ah, that makes sense.

[2019-01-15 07:15] noodles opened #864 "Preview images missing from AMP Travel Template"
The following files are missing template zip file:

- hero-1-preview.jpg
- hero-2-preview.jpg
- hero-3-preview.jpg

![screen shot 2019-01-15 at 6 09 54 pm](https://user-images.githubusercontent.com/183972/51164560-6dcf5500-18f1-11e9-8cdd-b442e352ca8c.png)

[2019-03-07 19:38] alankent opened #867 "Remove Google+ from social icon list examples"
Given the changes in Google Plus focus ("On April 2, 2019, Google+ will be shut down for consumers"), I suggest the "G+" logo be removed from social sharing examples.

See https://www.ampstart.com/components#links-and-sharing

[2019-03-28 11:32] Harikaa123 opened #868 "Filters not working in Travel template"
Hello, I'm trying to use travel template. The thing is filters are not working. Here is the AWS Link: https://s3.ap-south-1.amazonaws.com/travel-filters-amp/templates/travel/travel-results.amp.html

Please help me out!

Thanks in advance!!

[2019-03-28 11:36] Harikaa123 commented on #837
Hi guys, are the filters working for you??
If yes, can u please help me out?

[2019-03-29 02:21] xjazli commented on #837
Hi Harikaa. No, The filters doesn't work. It related to Lazy Loading and i still doesn't have any solution for this. Thanks

[2019-03-29 05:50] Harikaa123 commented on #837
Thank You xjazli

[2019-04-16 03:16] DrewRoberts commented on #867
There are a total of 12 references to gplus that I found:

- https://github.com/ampproject/ampstart/search?q=gplus&unscoped_q=gplus

I'm working on a pull request to remove them.

[2019-05-19 14:39] eduardogoncalves opened #873 "Components Navigation Example with Validation Error"
![image](https://user-images.githubusercontent.com/4308648/57983598-e79f5880-7a21-11e9-9ecf-1bc67405e9e9.png)
![image](https://user-images.githubusercontent.com/4308648/57983604-f7b73800-7a21-11e9-8c43-990f730c5f8d.png)

[2019-05-19 14:41] #873 closed

[2019-05-29 02:36] eduardogoncalves commented on #252
Remember to update screenshot https://amp.dev/documentation/templates/

this is the imagem file: https://amp.dev/static/img/templates/simple_article.jpg

![image](https://user-images.githubusercontent.com/4308648/58525160-b00a7c00-8198-11e9-83f0-fe4df6072d27.png)

[2019-06-09 14:49] amejiarosario opened #877 "ReferenceError: primordials is not defined"
Using node 12 and gulp 3. That combination does not work: https://github.com/gulpjs/gulp/issues/2324

[code]

I tried gulp 4 and getting different errors

[2019-06-24 18:13] amphyploid commented on #877
Regarding the Node version: the [`engines` section of the package.json](https://github.com/ampproject/ampstart/blob/master/package.json#L4) specifies that Node version `^7.0.0` is required. The caret (`^`) allows changes that do not modify the left-most non-zero digit in the [major, minor, patch] tuple. Therefor, the highest version one should use is [v7.10.1](https://nodejs.org/en/blog/release/v7

[2019-07-30 22:45] #867 closed

[2019-07-30 22:58] #252 closed

[2019-09-01 01:01] zipswich opened #879 "Is it possible to make the RESPONSIVE MENUBAR with hoverable dropdown?"
It is great that this project offers off-the-shelf UI components.

I am wondering if the RESPONSIVE MENUBAR can have hoverable dropdown?

I have been using this [nice pure CSS responsive menu](https://codepen.io/andornagy/pen/RNeydj) for a while.  Unfortunately, it causes the following AMP warning:
"The author stylesheet specified in tag 'style amp-custom' is too long - the limit is 50000 bytes."

[2019-09-06 02:45] camelburrito commented on #879
The responsive menu on the link has a lot of outdated css and other bloat , you will be able to implement a hover-able dropdown with a few more lines of css along with what comes with the template.

You can read through this blog for some ideas on how to get this done.
https://css-tricks.com/solved-with-css-dropdown-menus/

[2019-09-06 02:45] #879 closed

[2019-09-06 20:27] zipswich opened #880 "How to use RESPONSIVE MENUBAR"
I copied and pasted the code from [AMP Start](https://www.ampstart.com/components#navigation), but got the following:
![image](https://user-images.githubusercontent.com/6095671/64458264-dce8fc00-d0c2-11e9-9c4c-d679e5853bef.png)

Here is the code of the page:
[code]
Am I missing anything?

[2019-09-06 20:40] zipswich commented on #880
I copied and pasted more code from AMP Start, but the result is the same.
Here is the new source code:
[code]

[2019-09-06 20:42] zipswich commented on #879
Thank you. I created another issue #880

[2019-09-06 23:07] zipswich opened #881 "How is the length of "The author stylesheet specified in tag 'style amp-custom'" computed?"
I am having the following AMP error from Google Search Console:
"AMP The author stylesheet specified in tag 'style amp-custom' is too long - the limit is 50000 bytes."
The     <style amp-custom> has fewer than 7K if my counting is correct:
[code]
The above code is copied from Google Search Console.  In other words, it is  what actually used by GSC to examine <style amp-custom>.

[2019-09-28 17:58] MikeVaz opened #882 "Intallation fails on Windows"
[code]
Fails with

[code]

Looking at `node-gyp` setup steps.... It would be great to have this mentioned in readme how to install on Windows.

[2019-09-28 18:07] MikeVaz commented on #882
Following these steps https://github.com/nodejs/node-gyp helped me to solve the problem

[code]

[2019-09-28 18:15] MikeVaz opened #883 "Build fails on Windows."
`npm run build`
...

[code]

Where `...` is my local path to the project `Users\******\Documnets\projects\`

[2020-01-13 09:29] sebastianbenz commented on #881
Please ask general AMP related questions on Stackoverflow using the `amphtml` tag. Thanks!

[2020-01-13 09:29] #881 closed

[2020-05-01 02:25] rsimha commented on #686
Obsolete

[2020-05-01 02:25] #686 closed

[2021-04-08 18:37] rsimha opened #902 "Rename the default branch of this repo from `master` to `main`"
See https://github.com/ampproject/amphtml/issues/32195 for more details

[2021-04-22 17:48] rsimha commented on #902
@sebastianbenz Looks like this needs an accompanying change to the CI config, so will leave this to the maintainers of this repo.

[2021-06-23 06:03] kiraahmad opened #911 "Getting errors while trying to added a Material Ui component with AMP"
I made a very simple page to test AMP with Material UI and Next JS, However, when I try to render this page

`import React from 'react'`
`import Button from '@material-ui/core/Button'`

`const testamp = () => {`
`    return (`
`        <div>`
`            Hello World`
`                <Button >`
`                    LOGIN`
`                </Button>`
`        </div>`
`    )`
`}`
`export default te

[2021-07-31 13:20] sidverma32 commented on #356
@ericlindley-g  Can i take this up?

[2021-08-02 16:11] ericlindley-g commented on #356
Thanks for reaching out, @sidverma32 !

I am no longer working on the project, but @nainar Do you know the right routing for this?